body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    padding: 100px;
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}
.gridCell {
    outline: .5px solid lightgrey;
    text-align: center;
}